html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color:whitesmoke;
  color: rgba(227, 32, 211, 0.858);
  font-family: 'Poppins', sans-serif;
  font-size: 1.9rem;
  margin: 0;
  text-decoration: whitesmoke;
}

.header-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid whitesmoke 6px;
}

.centered-left {
  position: absolute;
  flex-direction: row;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border: solid whitesmoke 6px;
}

.centered-right {
  position: absolute;
  flex-direction: row;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border: solid whitesmoke 6px;
}

a:link {
  text-decoration: none;
}