html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body{
  margin: 0%;
  background-color: gainsboro;
}

#nav-links {
  position: fixed;
  height: 100px;
  font-size: 2.9rem;
  color: gainsboro;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

#header-container {
  background-image:  url(./images/sanMiguelPortfolio.jpeg) ;
  background-size: cover;
  height: 600px;
  width: 100%;
  text-align: center;
  margin-top: -12px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gainsboro;
  align-self: center;
  background-color: rgb(64, 64, 232, .345);
  height: 600px;
  width: 100%;
}